@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #04364A;
    --cor-secundaria: #DAFFFB;
    --cor-terciaria: #64CCC5;
    --cor-hover: #176B87;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    margin: 1em 4.7em 0 4.7em;
}

.cabecalho__menu{
    display: flex;
    gap: 1em;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    padding: .5em 0.3em;
}

.destaqueTitulo{
    color : var(--cor-terciaria);
}

.apresentacao{
    display: flex;
    flex-direction: column;
    margin: 0 5em;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
}

.apresentacao__conteudo__titulo{
    font-family: var(--fonte-primaria);
    text-align: center;
    font-size: 2.25rem;
    margin: 1.25em 0 2em 0;
}

.apresentacao__conteudo__texto{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    padding-right: 4em;
}

.apresentacao__conteudo__texto__paragrafo{
    margin: 1em 0;
    text-align: justify;
}

.apresentacao__conteudo__imagem{
    width: 20%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.apresentacao__conteudo-grupo{
    display: flex;
    align-items: center;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 1.5rem;
    margin: 2.5em 0 1.5em 0;
}

.apresentacao__links__icone{
    margin-right: .6em;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    padding: 1em 2em;
    margin: .7em 0;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 20px;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    align-items: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.apresentacao__links__navegacao:hover{
    background: var(--cor-secundaria);
    color: black;
}

.cabecalho__menu__link:hover{
    background: var(--cor-secundaria);
    color: black;
}

.rodape{
    color: var(--cor-primaria);
    text-align: right;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    background-color:var(--cor-terciaria);
    padding: 10px;
    margin: .5em 0 0 0;
}

@media screen and (max-width: 1024px){
    .apresentacao__conteudo-grupo{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .apresentacao__conteudo__imagem{
        width: 100%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .apresentacao__conteudo__texto{
        font-family: var(--fonte-secundaria);
        font-size: 2rem;
        padding-right: 0;
    }

    .rodape{
        color: var(--cor-primaria);
        text-align: center;
        font-family: var(--fonte-secundaria);
        font-weight: 600;
        font-size: 1.5rem;
        background-color:var(--cor-terciaria);
        padding: 10px;
        margin: .5em 0 0 0;
    }
}

@media screen and (max-width: 500px){
    .apresentacao__conteudo-grupo{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .apresentacao__conteudo__imagem{
        width: 100%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .apresentacao__conteudo__texto{
        font-family: var(--fonte-secundaria);
        font-size: 1rem;
        padding-right: 0;
    }

    .apresentacao{
        display: flex;
        flex-direction: column;
        margin: 0 2em;
        align-items: center;
        justify-content: space-between;
    }

    .apresentacao__conteudo__titulo{
        font-family: var(--fonte-primaria);
        text-align: center;
        font-size: 2rem;
        margin: 1.25em 0 2em 0;
    }

    .rodape{
        color: var(--cor-primaria);
        text-align: center;
        font-family: var(--fonte-secundaria);
        font-weight: 600;
        font-size: 1rem;
        background-color:var(--cor-terciaria);
        padding: 10px;
        margin: 1em 0 0 0;
    }
}